:root {
  --color-background: #11151c;
  --color-text: #fff;
  --color-text-console: #aaa;
  --color-text-accent: #c9cba3;
  --color-theme-primary: #802932;

  --font-console: "Consolas",monospace;
}

.align-right {
  flex: 1 0 auto;
  width: auto;
  max-width: 100%;
  text-align: right;
}

#app {
  min-height: 100vh;
}

header {
  h1 {
    letter-spacing: 5px;
    font-size: 50pt;
    line-height: 35pt;
  }

  .top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 38px;
    box-sizing: border-box;

    padding: 4px 16px;

    text-align: right;

    background-color: var(--color-theme-primary);

    .version {
      font-family: var(--font-console);
      display: inline-block;
      vertical-align: middle;
      text-align: right;
    }
  }

  .title {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 74px;
    box-sizing: border-box;

    background-color: var(--color-theme-primary);

    padding-top: 12px;
    padding-left: 16px;

    clip-path: polygon(100% 0,100% calc(100% - 50px),calc(100% - 50px) 100%,0 100%,0 0);
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 32px;
  box-sizing: border-box;

  padding: 4px 16px;

  background: var(--color-theme-primary);

  display: flex;

}

.buffer {
  width: 100%;
  height: 74px;
}

.console {
  color: var(--color-text-console);
  font-family: Consolas, monospace;
  margin: 1% 5%;
}

.console-input {
  all: unset;
  width: 80rem;
  word-wrap: anywhere;
  field-sizing: content;
  caret-color: transparent;
}

.console-input-pre {
  display: inline-block;
  width: fit-content;
}

.console-input.cursor {
  caret-color: var(--color-text-console);
}